{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        <div class="input-field">
            {{ form_widget(registrationForm.firstname, { 'attr': { 'id': 'firstname'} }) }}    
            {{ form_label(registrationForm.firstname, 'Firstname', { 'label_attr': {'for': 'firstname'} }) }}
        </div>
        <div class="input-field">
            {{ form_widget(registrationForm.lastname, { 'attr': { 'id': 'lastname'} }) }}    
            {{ form_label(registrationForm.lastname, 'Lastname', { 'label_attr': {'for': 'lastname'} }) }}
        </div>
        <div class="input-field">
            {{ form_widget(registrationForm.pseudo, { 'attr': { 'id': 'pseudo'} }) }}    
            {{ form_label(registrationForm.pseudo, 'Pseudo', { 'label_attr': {'for': 'pseudo'} }) }}
        </div>
        <div class="input-field">
            {{ form_widget(registrationForm.mail, { 'attr': { 'id': 'mail'} }) }}    
            {{ form_label(registrationForm.mail, 'Mail', { 'label_attr': {'for': 'mail'} }) }}
        </div>
        <div class="row col s12">
            <div class="input-field col s6">
                {{ form_widget(registrationForm.plainPassword, { 'attr': { 'id': 'plainPassword'} }) }}    
                {{ form_label(registrationForm.plainPassword, 'Plain Password', { 'label_attr': {'for': 'plainPassword'} }) }}
            </div>
            <div class="input-field col s6">
                {{ form_widget(registrationForm.plainPasswordConfirm, { 'attr': { 'id': 'plainPasswordConfirm'} }) }}    
                {{ form_label(registrationForm.plainPasswordConfirm, 'Plain Password Confirm', { 'label_attr': {'for': 'plainPasswordConfirm'} }) }}
                <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
            </div>
        </div>
        <div>
            <label>
                {{ form_widget(registrationForm.agreeTerms) }}
                <span>Agree Terms</span>
            </label>
        </div>
        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}

{% block javascripts %}
        <script>
    $("#registration_form_plainPassword").on("focusout", function (e) {
        if ($(this).val() != $("#registration_form_plainPasswordConfirm").val()) {
            $("#registration_form_plainPasswordConfirm").removeClass("valid").addClass("invalid");
        } else {
            $("#registration_form_plainPasswordConfirm").removeClass("invalid").addClass("valid");
        }
    });

    $("#registration_form_plainPasswordConfirm").on("keyup", function (e) {
        if ($("#registration_form_plainPassword").val() != $(this).val()) {
            $(this).removeClass("valid").addClass("invalid");
        } else {
            $(this).removeClass("invalid").addClass("valid");
        }
    });
</script>
{% endblock %}

