{% extends 'base.html.twig' %}

{% block title %}Actu index{% endblock %}

{% block body %}
    <h1>Yo !</h1>

    <form method="POST" id="admin_form">

        <div class="row">
            <div class="input-field col s6">
                <select id="table" class="browser-default">
                    <option disabled selected value="">-- Choose your Table --</option>
                    <option value="\App\Entity\Actu">Actu</option>
                    <option value="\App\Entity\Artist">Artist</option>
                    <option value="\App\Entity\Event">Event</option>
                    <option value="\App\Entity\Product">Product</option>
                    <option value="\App\Entity\User">User</option>
                </select>
            </div>
            <div class="input-field col s6 hidden" id="hidden-select">
                <select id="joinTable" class="browser-default">
        
                </select>
            </div>
        </div>
        
        <div id="eRow" class="row">
            <div class="input-field col s6" id="eData"></div>
            <div class="input-field col s6" id="joinEData"></div>
        </div>
        
        <div class="row">
            <div class="input-field col s6 hidden" id="hidden-order">

            </div>
            <div class="input-field col s6 hidden" id="hidden-group">

            </div>
        </div>
        
        </form>


        <button id="submit-dql" class="btn">Search</button>
        

        <div id="search-container"></div>



    {# {% for a in event_artist %}
        <h2>{{ dump(a) }}</h2>
    {% endfor %}

    {% for b in prod_artist %}
        <h2>{{ dump(b) }}</h2>
        <hr class="white-text">
    {% endfor %} #}

{% endblock %}

{% block javascripts %}
            <script>
            
            
        
            /***** FUNCTION ONSELECT *****/
            $('#table').change(function () {
                    var entity = $('#table option:selected').val();
                    var data = {
                    name: "value",
                    value: entity
                    };
        
                    $.post("{{ path('admin_ajax') }}", data, function (string) {

                        $('#eData').html(" ")
                        
                        for (let index = 0; index < string[0].length; index++) {
                            const element = string[0][index];
                            if (element == "id") {
                                $('#eData').append('<p><label><input disabled checked class="checkData" type="checkbox" value="a.'+element+'"/><span>'+element+'</span></label></p>')
                            } else {
                                $('#eData').append('<p><label><input class="checkData" type="checkbox" value="a.'+element+'"/><span>'+element+'</span></label></p>')
                            }
                        }
                        if (string[1].length != 0) {
                            $('#hidden-select').removeClass("hidden")
                            $('#joinTable').html(" ")
                            $('#joinTable').append("<option disabled selected value=''>-- Choose your Join Table --</option>")
                            
                            for (let index = 0; index < string[1].length; index++) {
                                const mappedElement = string[1][index];
                                console.log(mappedElement)
                                $('#joinTable').append('<option value="'+mappedElement.name+'">'+mappedElement.name+'</option>');
                            } 
                            } else {
                                $('#hidden-select').addClass("hidden")
                                $('#joinTable').html(" ")
                                $('#joinEData').html(" ")
        
                        }
                        $('#hidden-order').html(" ")
                        $('#hidden-order').removeClass("hidden")
                        $('#hidden-order').append("<select id='orderBy' class='browser-default'><option disabled selected>-- Order By --</option>")
                        $('.checkData').click(function () {
                            var item = $(this).val();;
                            console.log(item);
                            if (!$('.checkData').prop('checked')) {
                                console.log("nope")
                                $(this).prop("checked", true)
                                $('#orderBy').append("<option class='option_order' value='"+$(this).val()+"'>"+$(this).val()+"</option>");
                                
                                
                            } else {
                                console.log("yo")
                                $(this).prop("checked", false)
                                $('.option_order[value="'+item+'"]').remove();
                            }
                            
                            
                            
                            /* $.each($('.option_order'), function () {
                                if($('.option_order').val() == item) {
                                    console.log("yo")
                                    $('.option_order[value="'+item+'"]').remove();
                                } else {
                                    $('#orderBy').append("<option class='option_order' value='"+$(this).val()+"'>"+$(this).val()+"</option>");
                                }
                            })    */
                        })

                        $('#hidden-order').append("</select>")
                        
        
                    })
            })
            
        
            $('#joinTable').change(function () {
                    var joinEntity = $('#joinTable option:selected').val();


                var disabled = []
                $.each($('.checkData:disabled'), function() {
                    disabled.push($(this).val())
                })
                    var joinData = {
                    name: "value",
                    value: joinEntity
                    };
                    $.post("{{ path('admin_ajax_join') }}", joinData, function (joinString) {
                        console.log(disabled)
                        console.log(joinString)
                        $('#joinEData').html(" ");
                        for (let i = 0; i < joinString[0].length; i++) {
                            const joinElement = joinString[0][i];
                            console.log(joinElement)
                            if (joinElement == 'id') {
                                $('#joinEData').append('<p><label><input disabled checked class="checkData" type="checkbox" value="b.'+joinElement+'"/><span>'+joinElement+'</span></label></p>')
                            } else {
                              $('#joinEData').append('<p><label><input class="checkData" type="checkbox" value="b.'+joinElement+'"/><span>'+joinElement+'</span></label></p>')  
                            }
                            
                        }
                        $('#hidden-group').html(" ")
                        $('#hidden-group').removeClass("hidden")
                        if (disabled[1] == null) {
                            disabled[1] = 'b.id'
                        }

                        $('#hidden-group').append("<select id='groupBy' class='browser-default'><option disabled selected>-- Group By --</option><option value='"+disabled[0]+"'>"+$('#table option:selected').html()+"</option><option value='"+disabled[1]+"'>"+$('#joinTable option:selected').html()+"</option></select>")
                        
                        
                        $('.checkData').click(function () {
                            console.log($(this).val())
                            var item = $(this).val();
                            console.log(item)
                            $('#orderBy').append("<option value='"+$(this).val()+"'>"+$(this).val()+"</option>")
                            $('option[value="'+item+'"]').toggle();
                        })

                        
                    })
            })
        
            $('#submit-dql').click(function() {
                var cb = [];
                var entity = $('#table option:selected').val()
                var joinEntity = $('#joinTable option:selected').val()
                var groupby = $('#groupBy option:selected').val()
                cb.push(entity)
                cb.push(joinEntity)
                cb.push(groupby)
                $.each($('.checkData:checked'), function() {
                cb.push($(this).val()); 
                });
                
                console.log(cb)
                var checkData = {
                    name: "value",
                    value: cb
                };

                $.post("{{ path('admin_ajax_data') }}", checkData, function(dataString) {
                    $('#search-container').html(" ")
                    for (let index = 0; index < dataString.length; index++) {
                        const dataElement = dataString[index];
                        $('#search-container').append("<table class='table' id='tableN"+index+"'><tbody>")
                        $.each(dataElement, function(k, v){
                            $('#tableN'+index).append("<tr><th>"+k+"</th><td>"+v+"</td></tr>")
                        })
                        $('#search-container').append("</tbody></table><hr>")
                        }
                    })
                    
                })

        
            /***** INIT SELECT MATERIALIZE *****/   
            document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
            });
        
            </script>
           
        {% endblock %}